/* Filter and Sort Section */
.filter-sort {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #fff;
}

/* Top Section */
.filter-sort-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.titles-count {
  font-size: 18px;
  color: #000;
}

.view-buttons {
  display: flex;
  gap: 10px;
}

/* Styling for the view buttons (making them circles without borders) */
.view-button {
  width: 40px; 
  height: 40px;
  background-color: transparent; 
  border: none; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden; 
}

.view-button:hover {
  background-color: #e6e6e6; 
}

.view-button svg {
  width: 24px;
  height: 24px;
  color: #888; 
}

.view-button.active svg {
  color: rgb(8, 103, 245); 
}

.filter-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.filter-button {
  width: 50px; 
  height: 30px; 
  background-color: #0165c9; 
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.filter-button:hover {
  background-color: #005bb5; 
}

.filter-button svg {
  width: 24px; 
  height: 24px;
  color: white; 
}

/* Bottom Section */
.filter-sort-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.sort-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-section label {
  font-size: 18px;
  color: #000000;
}

.sort-button {
  font-size: 18px;
  color: #0073e6;
  background-color: white;
  border: none;
  border-radius: 20px;
}

.sort-button:hover {
  background-color: #e6e6e6; 
}


.sort-arrow {
  width: 30px; 
  height: 30px;
  background-color: transparent; 
  border: none; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.sort-arrow:hover {
  background-color: #e6e6e6; 
}

.sort-arrow svg {
  width: 18px;
  height: 18px;
  color: #3300ff; 
}

/* Dropdown Styling */
.sort-dropdown {
  position: relative; 
}

.sort-menu {
  position: absolute; 
  top: 100%;
  left: 0; 
  z-index: 10; 
  background-color: white; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
  list-style: none; 
  padding: 5px 0; 
  margin: 0; 
  width: 150px; 
}

.sort-menu li {
  padding: 8px 12px; 
  font-size: 16px; 
  color: #333; 
  cursor: pointer; 
}

.sort-menu li:hover {
  background-color: #006affe4; 
  color: #ffffff; 
}
