/* Header */
header {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background-color: #000;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1; /* Allow the left side of the header to take up remaining space */
}

.logo {
  height: 32px; /* Make IMDb logo slightly smaller */
}

.menu-button {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.menu-button .menu-icon {
  margin-right: 8px;
  font-size: 24px; /* Made the menu icon larger */
}

.menu-button:hover {
  background-color: #222;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1; 
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 100%; 
  max-width: 900px; 
}

.all-dropdown {
  background-color: #fff;
  border: none;
  border-right: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
}

.search-bar {
  flex-grow: 1;
  padding: 8px; 
  border: none;
  font-size: 14px;
  outline: none;
}

.search-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.search-button svg {
  font-size: 20px; 
  color: grey; 
}

/* Header-right section (buttons) */
.header-right {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

/* General styling for the buttons */
.header-button {
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.header-button:hover {
  background-color: #222;
}

.language-dropdown {
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.language-dropdown:hover {
  background-color: #222;
}

/* IMDbPro Button */
.imdbpro-button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #1d99f3;
  cursor: pointer;
}

.imdbpro-button .imdb-text {
  color: white;
  font-weight: bolder;
}

.imdbpro-button .pro-text {
  color: rgb(108, 183, 230);
  font-weight: bolder;
}

.watchlist-button {
  display: flex;
  align-items: center;
}

.watchlist-icon {
  margin-right: 8px;
  font-size: 24px; 
}

/* Adjust separator positioning */
.header-separator {
  width: 1px; 
  height: 38px; 
  background-color: rgb(78, 77, 77);
  margin: 0 0px; 
}

/* Extra black space beneath the header */
.header-extension {
  background-color: #000; 
  height: 30px; 
  width: 100%;
  border-top: none; 
}
