/* Main Title */
.main-title {
  text-align: left;
  padding-left: 20px;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  background: white;
}

.main-title-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.main-title h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.share-section {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding-right: 15px;
  padding-top: 15px;
}

.share-text {
  font-size: 17px; 
  color: #000;
  cursor: default; 
}

.share-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 36px; 
  height: 36px; 
  border-radius: 50%; 
  transition: background-color 0.3s ease; 
}

.share-button:hover {
  background-color: #ededed; 
}

.share-button svg {
  width: 24px; 
  height: 24px;
  color: #868686; 
  transition: color 0.3s ease; 
}

.main-title h1 {
  font-size: 37px;
  font-weight: normal;
  color: #000;
  margin: 0;
  display: flex;
  align-items: center;
}

.main-title h1::before {
  content: " | ";
  color: orange;
  font-size: 37px;
  margin-right: 10px;
}

.main-title p {
  font-size: 16px;
  color: #777;
  margin-top: 15px;
}
