/* Movie Card Detailed */
.movie-card-detailed {
    position: relative; 
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.movie-description {
    font-size: 14px; 
    color: #333;
    margin: 10px 0;
    line-height: 1.5;
}

.movie-director-stars {
    display: flex; 
    gap: 10px; 
    font-size: 14px; 
    margin: 5px 0;
    line-height: 1.5;
}

.movie-director-stars span.label {
    font-weight: bold;
    color: #000; 
}

.movie-director-stars a {
    color: #0057b8;
    text-decoration: none;
    cursor: pointer;
}

.movie-director-stars a:hover {
    text-decoration: underline;
}
